#root {
  min-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loader-guy {
  justify-content: center;
  margin-top: 40vh;
}

.back-button-container {
  margin-top: 2em;
  text-align: left;
}

.menu-container {
  position: absolute;
  z-index: 1000;
}

.menu-container ul {
  margin-top: 19.5em;
}

h1 {
  margin-top: 1em;
  width: 100%;
  float: right;
}

#chartdiv {
  width: 100%;
  height: 70%;
  float: right;
}

.time-series-chart {
  width: 95% !important;
}

.bi-header {
  background: rgb(0,21,41);
  background: linear-gradient(90deg, rgba(0,21,41,1) 0%, rgba(125,71,166,1) 55%, rgba(59,144,246,1) 100%);
}

.ant-page-header-heading-title, .ant-page-header-heading-sub-title, .ant-statistic-content-value, .ant-statistic-title, .ant-statistic-content-prefix, .ant-page-header-back-button {
  color: lightgrey !important;
}

:where(.css-dev-only-do-not-override-19lec04).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-19lec04).ant-menu-dark>.ant-menu .ant-menu-item-selected {
  background: #FFD700;
}

.logo-container {
  display: flex;
}

.logo-container h2 {
  margin-top: 1.5em;
  color: lightgrey !important;
}

.ant-page-header .ant-page-header-heading-left {
  position: absolute;
  top: 2em;
  right: 0;
}

.ant-page-header .ant-page-header-heading {
  float: right;
  margin-top: -5em;
  display: none;
}

.ant-page-header-content {
  padding: 0 !important;
  position: absolute;
  top: -5em;
  right: 0;
  margin-right: 2em;
}

.ant-page-header-heading-title {
  display: none;
}

:where(.css-dev-only-do-not-override-19lec04).ant-statistic {
  margin-left: 10em;
}

@media screen and (max-width: 950px) {
  .ant-row {
    display: none;
  }
}